CMakeLists.txt.user

build/
codeblocks/
3rdparty/

*.sublime-project
*.sublime-workspace
*.aux
*.log
*.out
*.pdb
*.tps
*.toc
*.vcproj.*.user
*.vcxproj.user

*.bat
*.sh

cgsee.config
cgsee.creator
cgsee.files
cgsee.includes

